{% extends "base.html" %}

{% block content %}
    <h1>Citas</h1>
    <a href="{{ url_for('add_appointment') }}" class="btn btn-primary mb-2">Agregar Cita</a>
    <ul class="list-group">
        {% for appointment in appointments %}
            <li class="list-group-item">
                <strong>Nombre del Paciente:</strong> {{ appointment.patient_name }}<br>
                <strong>Fecha:</strong> {{ appointment.date }}<br>
                <strong>Razón:</strong> {{ appointment.reason }}<br>
                <form method="post" action="{{ url_for('delete_appointment', id=appointment.id) }}" onsubmit="return confirm('¿Estás seguro de que quieres eliminar esta cita?');">
                    <button type="submit" class="btn btn-danger mt-2">Eliminar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
