{% extends "base.html" %}

{% block content %}
<h2>Inventario</h2>
<a class="btn btn-primary" href="{{ url_for('add_inventory') }}">Agregar Medicamento</a>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for item in inventory %}
        <tr>
            <td>{{ item.medicine_name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>
                <form method="POST" action="{{ url_for('delete_inventory', id=item.id) }}" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este medicamento?');">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
